* {
  box-sizing: border-box;
}

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap'); */

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLFj_Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  margin: 0;
  background-color: #000000;
  color: azure;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 175px;
  height: 175px;
  
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


h2,
a {
  color: red;
}

h3 {
  color: black;
}

a {
  text-decoration: none;
}

.logo {
  margin: 0;
  font-size: 1.45em;
}

.main-nav {
  margin-top: 5px;
}
.logo a,
.main-nav a {
  padding: 10px 15px;
  text-align: center;
  display: block;
}

.main-nav a {
  color: #34495e;
  font-size: 0.99em;
}

.main-nav a:hover {
  color: #718daa;
}

.header {
  font-size: 20px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  background-color: white;
}

.header-text {
  text-align: center;  
}

.header-text2 {
  text-align: center;  
}
.general-text {
  display:block;
  margin-left: 10%;
  margin-right: 10%;
}

.bio_container{
  display: flex;
  padding-top:30px;
  padding-left: 20px;
}

.bio_container img{
  border-radius: 100px;
}

.bio_container p{
  padding: 20px;
}

.content p{
  padding: 20px;
}

.info{
  margin-left:10px;
}

.row {
  display: flex;
  
  }
  
.column {
  flex: 50%;
  text-align: center;
}

.column img{
  width: 100px;
  height: 100px;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
  .header,
  .main-nav {
    display: flex;
  }
  .header {
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 1025px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }
}

.row {
  display: flex;
  padding-left: 60px;
  padding-right: 60px;
  margin-bottom: 100px;
}

.columnl {
  flex: 50%;
  padding-right: 10px;
}

.columnr {
  flex: 30%;
  padding-left: 30px;
}

#context {
  /* display: flex;
  flex-direction: row; */
  padding-left: 60px;
  padding-right: 60px;
  color: black;
  background-color: white;
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 50px;
}

.space {
  margin: 50px;
}