* {
    box-sizing: border-box;
  }
  body {
    font-family: "Montserrat", sans-serif;
    line-height: 1.6;
    margin: 0;
    min-height: 100vh;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  h2,
  h3,
  a {
    color: #34495e;
  }
  
  a {
    text-decoration: none;
  }
  
  .logo {
    margin: 0;
    font-size: 1.45em;
  }
  
  .main-nav {
    margin-top: 5px;
  }
  .logo a,
  .main-nav a {
    padding: 10px 15px;
    text-align: center;
    display: block;
    color: white;
    font-size: 0.5em;
  }
  
  .main-nav a {
    color: white;
    font-size: 0.5em;
  }
  
  .main-nav a:hover {
    color: #718daa;
  }
  
  .header {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: #f4f4f4;
  }
  
  /* ================================= 
    Media Queries
  ==================================== */
  
  @media (min-width: 769px) {
    .header,
    .main-nav {
      display: flex;
    }
    .header {
      flex-direction: column;
      align-items: center;
    }
  }
  
  @media (min-width: 1025px) {
    .header {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  

  body,html {
	margin:0;
	height:100%;
	width:100%;
}

#map {
	height: 100%;
}

body {
  /* display:grid; */
	display: grid;
	grid-template-rows: 60px 1fr;
	grid-template-columns: 300px 1fr;
	grid-template-areas: 
	"header header"
	"content content"
}

.header {
	grid-area: header;
	background-color: #333;
	color: white;
	font-size: 2em;
}

.sidebar {
	color: white;
	grid-area: sidebar;
	padding:10px;
	background-color: rgb(60, 60, 60);
    overflow: auto;
}

.content {
	grid-area: content;
}

.sidebar-item {	/* border: 1px solid gray; */
	padding: 2px;	/* background-color: #333; */
	float:left;
	cursor:pointer;
	color: rgb(255, 79, 79);
	font-size: 1em;
}
.sidebar-item:hover {
	background-color: rgb(255, 0, 0);
}